name: Test Workflow

on:
  workflow_dispatch:
    inputs:
      token:
        description: 'The PAT'
        required: false

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
          registry-url: "https://npm.pkg.github.com"
          scope: "@cbsinteractive"
      - run: |
          npm ci
      - run: |
          npm run build
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          token: ${{ github.event.inputs.token }}
